{% extends "app_index/index.html" %}


{% block contenido_principal %}



  <!-- Sección Sobre mí -->
  <section class="sobre-mi container">
    <div class="row align-items-center">
      
      <div class="col-md-8">
        <br>
        <h2>Hola, soy Gabriel</h2>
        <p>
            Estoy comenzando a aprender Python por interés personal y profesional. Espero poder crear proyectos interesantes y útiles, y también poder aplicar estos conocimientos para resolver problemas de la vida diaria.
        </p>
        <p>
          Me gusta la música, los idiomas y los videojuegos. Doy clases de piano y tengo interés por la matemática.
          
        </p>
        
      </div>
    </div>
  </section>

{% endblock %}