{% extends "app_index/index.html" %}
<!-- archivo padre para "Registros Asignaturas" -->

{% block contenido_principal %}


    <!-- BANNER -->
    <div class="banner">
        {% block titulo_registro %}
        {% if object %}
        <h1>Editar Asignatura</h1>
        {% else %}

        <h1>Agregar Asignatura</h1>

        {% endif %}
        {% endblock %}
    </div>

    <div class="container mt-4">

        <!-- Mostrar mensajes -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success text-center" role="alert" id="mensaje-exito">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- Formulario -->
        
        <form method = "POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">
            {% if object %}
            Modificar
            {% else %}
            Agregar
            {% endif %}
            </button>

        </form>
    </div>



{% endblock %}